<div class="row foot">
    <div class="col">
        <div class="container" style="width: 80%;max-width: 1080px;">
            <div class="row">
                <div class="col-md-12">
                    <p>Powered by: VALCORP Digital Agency - Riverview Fresh Market - It's an 9613 Hwy US-301, Riverview, FL 33578, EE. UU. - Hours: Mo-Fr 8am-5pm - <a href="https://riverviewfreshmarkets.mybcard.net/" target="_blank"><strong><span style="color: rgb(102, 102, 102);">www.riverviewfreshmarket.com</span></strong></a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script> !function(){function e(){var e=((new Date).getTime(),document.createElement("script"));e.type="text/javascript",e.async=!0,e.setAttribute("embed-id","7b81b7b7-9ea0-406a-bc99-abf3b743be0e"),e.src="https://ada1.valcorpdigital.us/embed-scripts/7b81b7b7-9ea0-406a-bc99-abf3b743be0e",window.top.document.getElementsByTagName("body")[0].appendChild(e)}var t=window;t.attachEvent?t.attachEvent("onload",e):t.addEventListener("load",e,!1)}();</script>
