
 
 
 <div class="modal2" tabindex="-1" *ngIf="this.estadosService.showfomo" style="display: block;">
   
   
      
          
            <script type="text/javascript" async="" embed-id="7b81b7b7-9ea0-406a-bc99-abf3b743be0e" src="https://ada1.valcorpdigital.us/embed-scripts/7b81b7b7-9ea0-406a-bc99-abf3b743be0e"></script>
            <script type="text/javascript" async="" src="https://fomo.valcorpdigital.com/fomo_r1v3rvi5w_m0md4y.js"></script>
            <div class="valcorpfomo_container">
                <div class="valcorpfomo_card">
                    <button type="button" class="valcorpfomo_card_closebtn" (click)="this.closeModal()">X</button>
                    <div class="valcorpfomo_container_form">
                        <p class="valcorpfomo_title">Hey Moms!</p>
                        <p class="valcorpfomo_subtitle">This Mother's Day, we're celebrating YOU with a special Basket Giveaway!</p>
                        <form class="valcorpfomo_form" id="valcorpfomo_form" action="/" method="post">
                            <input type="text" class="valcorpfomo_form_input" placeholder="Name *" id="valcorpfomo_form_name" required=""><br>
                            <input type="email" class="valcorpfomo_form_input" placeholder="Email *" id="valcorpfomo_form_email" required=""><br>            
                            <input type="text" class="valcorpfomo_form_input" placeholder="Phone * " id="valcorpfomo_form_phone" required=""><br>            
                            <input type="submit" class="valcorpfomo_form_submit" value="Send Now!">
                        </form>       
                    </div>
                </div></div>


 </div>
 
 <div class="modal-backdrop fade" [class.show]="this.estadosService.showfomo" [ngClass]="{'z-index-3': this.estadosService.showfomo}"></div>

