<div class="bannerabout">
    <div class="container">
        <h1 class="bannerh1"
            style="color: var(--bs-body-bg);font-family: Roboto, sans-serif;font-style: italic;font-weight: bold;font-size: 80px;padding-top: 25%;text-align: center;">
            About Us</h1>
    </div>
    <div class="onda"></div>
</div>
<div class="container">
    <div class="row" style="margin-top: 58px;">
        <div class="col col-12 col-md-4 col-xl-4">
            <div class="happy"><span
                    style="font-size: 25px;font-family: 'Open Sans', sans-serif;font-style: italic;font-weight: bold;color: var(--bs-body-bg);line-height: 24.5px;text-align: center;">We
                    are very happy to celebrate our 9th anniversary!</span><img
                    src="assets/img/riverviewfreshmarket.jpg" style="margin-top: 47px;margin-bottom: 32px;width: 100%;">
                <p class="popen" style="text-align: justify;">Riverview Fresh Market is a family business that was born
                    in 2014 when two brothers decided to start their own business after many years of experience and
                    many dreams to fulfill with the help of a great team, small in size but big in heart.</p>
            </div>
        </div>
        <div class="col col-12 col-md-4 col-xl-4">
            <p class="popen" style="padding-top: 34px;">Riverview Fresh Market’s vision from the beginning has been to
                offer the community a range of high-quality fresh products, always thinking about the customers and
                their needs. With this in mind, we strive every day to offer only the best products, carefully selecting
                what we bring to your table. Our approach is to offer a clean place, with a wide variety, excellent
                service, well organized and a cheerful family atmosphere that characterizes us.</p><img
                src="assets/img/about-2.png" style="width: 90%;margin-top: 36px;">
        </div>
        <div class="col col-12 col-md-4 col-xl-4 imgbou" >
            <img src="assets/img/about-3-1.png">
            <img src="assets/img/about-4.png"
                style="margin-bottom: 20px;">
            <p class="popen">We would like to thank all of our team members for your commitment, hard work and
                dedication and to our customers, business partners and the community for your continuous support
                throughout the years. It has been a wonderful journey and we hope, in the hands of God to continue
                serving you for many more years!</p>
        </div>
    </div>
</div>
<div class="container sectionpad">
    <div class="row">
        <div class="col-lg-4 col-12 col-md-4 offset-md-4 col-xl-4 offset-xl-4">
            <h1 style="text-align: center;font-weight: bold;--bs-body-font-weight: bold;margin-bottom: 49px;">Our Focus
            </h1>
        </div>
    </div>
    <div class="vall">
        <div class="accordion" role="tablist" id="accordion-1">
            <div class="accordion-item">
                <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed accordion-buttong"
                        type="button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-1"
                        aria-expanded="false" aria-controls="accordion-1 .item-1"
                        style="padding-top: 37px;"><strong>FRESH PRODUCTS</strong></button></h2>
                <div class="accordion-collapse collapse item-1" role="tabpanel" data-bs-parent="#accordion-1"
                    style="--bs-body-bg: #b8e86a !important;">
                    <div class="accordion-body g1">
                        <p class="mb-0">We’re committed to offer our customers every day the very best and freshest
                            food!</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed accordion-buttonr"
                        type="button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-2"
                        aria-expanded="false" aria-controls="accordion-1 .item-2"><strong>WIDE VARIETY</strong></button>
                </h2>
                <div class="accordion-collapse collapse item-2" role="tabpanel" data-bs-parent="#accordion-1">
                    <div class="accordion-body rojo">
                        <p class="mb-0">We carry a wide selection of Latin American Products and brands that you won’t
                            find at a regular grocery store.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed accordion-buttongd"
                        type="button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-3"
                        aria-expanded="false" aria-controls="accordion-1 .item-3"><strong><span
                                style="background-color: transparent;">GOOD PRICES</span></strong></button></h2>
                <div class="accordion-collapse collapse item-3" role="tabpanel" data-bs-parent="#accordion-1">
                    <div class="accordion-body g2">
                        <p class="mb-0">We provide high quality meats, groceries, produce and hot food at a fair price.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed accordion-buttonblu"
                        type="button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-4"
                        aria-expanded="false" aria-controls="accordion-1 .item-4"><strong><span
                                style="background-color: transparent;">EXCELLENT CUSTOMER
                                SERVICE</span></strong></button></h2>
                <div class="accordion-collapse collapse item-4" role="tabpanel" data-bs-parent="#accordion-1">
                    <div class="accordion-body blu1">
                        <p class="mb-0">We work very day to meet our customers needs in a timely, efficient and pleasant
                            way.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed accordion-buttong"
                        type="button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-5"
                        aria-expanded="false" aria-controls="accordion-1 .item-5"><strong><span
                                style="background-color: transparent;">AUTHENTICITY</span></strong></button></h2>
                <div class="accordion-collapse collapse item-5" role="tabpanel" data-bs-parent="#accordion-1">
                    <div class="accordion-body g1">
                        <p class="mb-0">We strive to provide you with an authentic Latin American experience through our
                            products, foods and flavors.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed accordion-buttonr"
                        type="button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-6"
                        aria-expanded="false" aria-controls="accordion-1 .item-6"><strong><span
                                style="background-color: transparent;">HIGH QUALITY</span></strong></button></h2>
                <div class="accordion-collapse collapse item-6" role="tabpanel" data-bs-parent="#accordion-1">
                    <div class="accordion-body rojo">
                        <p class="mb-0">We are committed to a 100% customer satisfaction and to offer consistently
                            high-quality products and services.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" role="tab"><button class="accordion-button accordion-buttongd"
                        type="button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-7"
                        aria-expanded="true" aria-controls="accordion-1 .item-7"><strong><span
                                style="background-color: transparent;">FAMILY ATMOSPHERE</span></strong></button></h2>
                <div class="accordion-collapse collapse show item-7" role="tabpanel" data-bs-parent="#accordion-1">
                    <div class="accordion-body g2">
                        <p class="mb-0">We strive to maintain a clean and organized store and provide to our customers a
                            comforting and happy atmosphere.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row sectioncustomer sectionpadding">
    <div class="col">
        <div class="container">
            <h1 style="text-align: center;font-weight: bold;font-size: 45px;--bs-body-font-weight: bold;">What our
                customers are saying…</h1>
            <div class="row" style="margin-top: 38px;">
                <div class="col col-12 col-md-4 col-xl-4">
                    <div class="say">
                        <div class="person1"></div>
                        <div class="et_pb_testimonial_description" style="margin-left: 0px;">
                            <div class="et_pb_testimonial_description_inner">
                                <div class="et_pb_testimonial_content">
                                    <h2 style="text-align: center;">
                                        <span style="color: #ffcc00;">★★★★★</span>
                                    </h2>
                                    <p>
                                        <span>The food is very well priced, the selection is ample, and the service is
                                            absolutely top-notch! The best latino&nbsp;food I have had so far in all of
                                            Tampa and I have been here for 20 years. Closest thing to being back home
                                            in&nbsp;the Dominican Republic do Make the stop and have&nbsp;your mind
                                            blown!</span>
                                    </p>
                                </div>
                            </div>
                            <span class="et_pb_testimonial_author">Sergio P</span>
                            <p class="et_pb_testimonial_meta"></p>
                        </div>

                    </div>
                </div>
                <div class="col col-12 col-md-4 col-xl-4">
                    <div class="say">
                        <div class="person2"></div>
                        <div class="et_pb_testimonial_description" style="margin-left: 0px;">
                            <div class="et_pb_testimonial_description_inner">
                                <div class="et_pb_testimonial_content">
                                    <h2 style="text-align: center;">
                                        <span style="color: #ffcc00;">★★★★★</span>
                                    </h2>
                                    <p>
                                        <span>Amazing !! Everything about this place is great, the food, the service,
                                            the music, the produce, meat & seafood dept, full line of grocery 2 dairy..
                                            and amazing hot latin food to go! Love everything about this place. Been
                                            coming here for 5 years since I moved down. They definitely have a customer
                                            for life. 🙂 </span>
                                    </p>
                                </div>
                            </div>
                            <span class="et_pb_testimonial_author">Eliza F</span>
                            <p class="et_pb_testimonial_meta"></p>
                        </div>

                    </div>
                </div>
                <div class="col col-12 col-md-4 col-xl-4">
                    <div class="say">
                        <div class="person3"></div>
                        <div class="et_pb_testimonial_description" style="margin-left: 0px;">
                            <div class="et_pb_testimonial_description_inner">
                                <div class="et_pb_testimonial_content">
                                    <h2 style="text-align: center;">
                                        <span style="color: #ffcc00;">★★★★★</span>
                                    </h2>
                                    <p>
                                        <span>I was there yesterday, I was going through all the Isles, everything
                                            clean, nice Jolly people. I looked at the hot food and I saw them very
                                            professionally serving and very friendly. It is a type of business you want
                                            to be in, do I recommend this pleace, I do. I’ll definitely go back 🙂 🙂
                                            🙂</span>
                                    </p>
                                </div>
                            </div>
                            <span class="et_pb_testimonial_author">Loi Santiago</span>
                            <p class="et_pb_testimonial_meta"></p>
                        </div>

                    </div>
                </div>
                <div class="col col-12 col-md-4 col-xl-4">
                    <div class="say">
                        <div class="person4"></div>
                        <div class="et_pb_testimonial_description" style="margin-left: 0px;">
                            <div class="et_pb_testimonial_description_inner">
                                <div class="et_pb_testimonial_content">
                                    <h2 style="text-align: center;">
                                        <span style="color: #ffcc00;">★★★★★</span>
                                    </h2>
                                    <p>
                                        <span>Is a great family oriented supermarket and friendly employees. Where you
                                            find products from your country and fresh products.</span>
                                    </p>
                                </div>
                            </div>
                            <span class="et_pb_testimonial_author">Andres Bourget</span>
                            <p class="et_pb_testimonial_meta"></p>
                        </div>

                    </div>
                </div>
                <div class="col col-12 col-md-4 col-xl-4">
                    <div class="say">
                        <div class="person5"></div>
                        <div class="et_pb_testimonial_description" style="margin-left: 0px;">
                            <div class="et_pb_testimonial_description_inner">
                                <div class="et_pb_testimonial_content">
                                    <h2 style="text-align: center;">
                                        <span style="color: #ffcc00;">★★★★★</span>
                                    </h2>
                                    <p>
                                        <span>This place its known for Frest fruit and Meat as well as fish they have
                                            great selection. If ever in the mood for good hot latin food they are the
                                            Best.</span>
                                    </p>
                                </div>
                            </div>
                            <span class="et_pb_testimonial_author">Carolina Corona</span>
                            <p class="et_pb_testimonial_meta"></p>
                        </div>

                    </div>
                </div>
                <div class="col col-12 col-md-4 col-xl-4">
                    <div class="say">
                        <div class="person6"></div>
                        <div class="et_pb_testimonial_description" style="margin-left: 0px;">
                            <div class="et_pb_testimonial_description_inner">
                                <div class="et_pb_testimonial_content">
                                    <h2 style="text-align: center;">
                                        <span style="color: #ffcc00;">★★★★★</span>
                                    </h2>
                                    <p>
                                        <span>Very nice to see a store that caters to the Hispanic Community. Nice
                                            place. great selection of food and other items. Kept clean and organized.
                                            Seems a little tight when you first walk in but quickly discover it has a
                                            lot more space and room as you go further back.</span>
                                    </p>
                                </div>
                            </div>
                            <span class="et_pb_testimonial_author">H Font</span>
                            <p class="et_pb_testimonial_meta"></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <app-btsorder></app-btsorder>
</div>




<div class="wemake">
    <div class="row bluesecc" style="padding-top: 71px;">
        <div class="col centrar">
            <div class="container">
                <div class="col col-12 centrar">
                    <h1 style="color: var(--bs-body-bg);">We make it easy to connect on all platforms</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row movil">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col col-12 col-md-8"><img src="assets/img/mobileabout.png" width="99%"></div>
                    <div class="col col-12 col-md-3 codeqr" style="margin-top: 58px;">
                        <h4 style="color: var(--bs-body-bg);">Download our Digital Business Card</h4><img
                            src="assets/img/qr.png" width="80%" style="margin-top: 36px;"><img
                            src="assets/img/Recurso-7-1.png" width="80%" style="margin-top: 39px;">
                    </div>
                    <div class="col">
                        <div class="dividerqr"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row contactus">
    <div class="col">
        <div class="container">
            <div class="row">
                <div class="col col-md-3"></div>
                <div class="col col-md-6">
                    <div class="bluebox">
                        <h1 style="color: var(--bs-body-bg);font-size: 50px;font-weight: bold;">Contact Us</h1>
                        <h5 style="color: var(--bs-body-bg);font-size: 30px;font-weight: bold;margin-top: 25px;">
                            Riverview Fresh Market</h5><span
                            style="margin-bottom: 27px;font-size: 26px;margin-top: -11px;">Latin food in
                            Riverview</span><a href="tel:(813) 374-2353">
                                
                                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 24 24" width="1em" fill="currentColor" style="margin-bottom: 12px;font-size: 28px;color: var(--bs-body-bg);">
                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M20 15.5c-1.25 0-2.45-.2-3.57-.57-.35-.11-.74-.03-1.02.24l-2.2 2.2c-2.83-1.44-5.15-3.75-6.59-6.58l2.2-2.21c.28-.27.36-.66.25-1.01C8.7 6.45 8.5 5.25 8.5 4c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1 0 9.39 7.61 17 17 17 .55 0 1-.45 1-1v-3.5c0-.55-.45-1-1-1zM12 3v10l3-3h6V3h-9z"></path>
                                </svg>
                                
                                
                                <span
                                style="margin-bottom: 10px;">(813) 374-2353</span></a><a
                            href="mailto:riverviewfreshmarket@hotmail.com"><svg xmlns="http://www.w3.org/2000/svg"
                                height="1em" viewBox="0 0 24 24" width="1em" fill="currentColor"
                                style="margin-bottom: 10px;color: var(--bs-body-bg);font-size: 28px;">
                                <path d="M0 0h24v24H0z" fill="none"></path>
                                <path
                                    d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z">
                                </path>
                            </svg><span style="margin-bottom: 19px;">riverviewfreshmarket@hotmail.com</span></a>
                            
                            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="1em" viewBox="0 0 24 24" width="1em" fill="currentColor" style="margin-bottom: 13px;font-size: 28px;color: var(--bs-body-bg);">
                                <rect fill="none" height="24" width="24"></rect>
                                <path d="M12,2L12,2C8.13,2,5,5.13,5,9c0,1.74,0.5,3.37,1.41,4.84c0.95,1.54,2.2,2.86,3.16,4.4c0.47,0.75,0.81,1.45,1.17,2.26 C11,21.05,11.21,22,12,22h0c0.79,0,1-0.95,1.25-1.5c0.37-0.81,0.7-1.51,1.17-2.26c0.96-1.53,2.21-2.85,3.16-4.4 C18.5,12.37,19,10.74,19,9C19,5.13,15.87,2,12,2z M12,11.75c-1.38,0-2.5-1.12-2.5-2.5s1.12-2.5,2.5-2.5s2.5,1.12,2.5,2.5 S13.38,11.75,12,11.75z"></path>
                            </svg>
                            
                            
                            <span>9613 Hwy 301
                            South, Riverview, FL 33578</span>
                        <div class="rest">
                            <p><strong></strong></p>
                            <p><strong>OPENING HOURS</strong></p>
                            <p>Sunday -Wednesday</p>
                            <p>7am – 8pm</p>
                            <p>Thursday – Saturday</p>
                            <p>7am – 9pm</p>

                            <ul class="redes">


                                <li class="">
                                    <a href="https://www.instagram.com/riverviewfreshmarket/" target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                            viewBox="0 0 24 24" fill="none">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M12 7C9.23858 7 7 9.23858 7 12C7 14.7614 9.23858 17 12 17C14.7614 17 17 14.7614 17 12C17 9.23858 14.7614 7 12 7ZM9 12C9 13.6569 10.3431 15 12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12Z"
                                                fill="currentColor"></path>
                                            <path
                                                d="M18 5C17.4477 5 17 5.44772 17 6C17 6.55228 17.4477 7 18 7C18.5523 7 19 6.55228 19 6C19 5.44772 18.5523 5 18 5Z"
                                                fill="currentColor"></path>
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M5 1C2.79086 1 1 2.79086 1 5V19C1 21.2091 2.79086 23 5 23H19C21.2091 23 23 21.2091 23 19V5C23 2.79086 21.2091 1 19 1H5ZM19 3H5C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H19C20.1046 21 21 20.1046 21 19V5C21 3.89543 20.1046 3 19 3Z"
                                                fill="currentColor"></path>
                                        </svg>
                                    </a>

                                </li>
                                <li class="">
                                    <a href="https://www.facebook.com/riverviewfreshmarket" class="" target="_blank">

                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                            viewBox="0 0 24 24" fill="none">
                                            <path
                                                d="M9.19795 21.5H13.198V13.4901H16.8021L17.198 9.50977H13.198V7.5C13.198 6.94772 13.6457 6.5 14.198 6.5H17.198V2.5H14.198C11.4365 2.5 9.19795 4.73858 9.19795 7.5V9.50977H7.19795L6.80206 13.4901H9.19795V21.5Z"
                                                fill="currentColor"></path>
                                        </svg>

                                    </a>
                                </li>
                                <li class="">
                                    <a href="https://www.youtube.com/channel/UC7flXGGDtQyYC2gxWdMEFRg" class=""
                                        target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                            viewBox="0 0 24 24" fill="none">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M5 7H19C19.5523 7 20 7.44771 20 8V16C20 16.5523 19.5523 17 19 17H5C4.44772 17 4 16.5523 4 16V8C4 7.44772 4.44772 7 5 7ZM2 8C2 6.34315 3.34315 5 5 5H19C20.6569 5 22 6.34315 22 8V16C22 17.6569 20.6569 19 19 19H5C3.34315 19 2 17.6569 2 16V8ZM10 9L14 12L10 15V9Z"
                                                fill="currentColor"></path>
                                        </svg>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col col-md-3"></div>
            </div>
        </div>
    </div>
    <div class="dividerfoot"></div>
</div>