<nav class="navbar navbar-expand-md bg-body py-3 sticky-top" style="padding-bottom: 8px !important; padding-top: 8px !important;">
    <div class="container">
        <a class="navbar-brand" href="#">
                <img src="assets/img/logo.png" class="logor">
        </a>
        <span class="delir margenbt popen">Deli / Restaurant</span>

        <div class="botoncitos">
               
                <span style="color: #FFFFFF !important;
                border-radius: 21px;
                font-size: 14px;
                background-image: linear-gradient(180deg, #2b87da 0%, #29c4a9 100%);
                background-color: #18943d;
                transition: all 300ms ease 0ms;
                font-weight: 500;
                padding: 4.2px 14px 4.2px 14px;
                line-height: 1.7em !important;
                background-color: transparent;
                background-size: cover;
                background-position: 50%;
                background-repeat: no-repeat;
                border: 2px solid #86bc2f;
                -webkit-transition-duration: .2s;
                transition-duration: .2s;
                -webkit-transition-property: all !important;
                transition-property: all !important;
                text-decoration: none;
                margin-right: 45px;
                margin-top: 5px;" class="btmenus margenbt glf-button" data-glf-cuid="d5f050d1-7bf2-4db7-a3c7-c53cad1cbad7" data-glf-ruid="86519b3f-542d-4794-928e-c83672616e67">Regular Menu Order</span>
               
               <span style="color: #FFFFFF !important;
                border-radius: 21px;
                font-size: 14px;
                background-image: linear-gradient(180deg, #2b87da 0%, #29c4a9 100%);
                background-color: #18943d;
                transition: all 300ms ease 0ms;
                font-weight: 500;
                padding: 4.2px 14px 4.2px 14px;
                line-height: 1.7em !important;
                background-color: transparent;
                background-size: cover;
                background-position: 50%;
                background-repeat: no-repeat;
                border: 2px solid #86bc2f;
                -webkit-transition-duration: .2s;
                transition-duration: .2s;
                -webkit-transition-property: all !important;
                transition-property: all !important;
                text-decoration: none;
                margin-right: 45px;
                margin-top: 5px;" class="btmenus glf-button" data-glf-cuid="805dbe0d-df9b-4c63-a06b-8f806bd4f65b" data-glf-ruid="805dbe0d-df9b-4c63-a06b-8f806bd4f65b">Catering Order</span> 
               
             
        </div>
        
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-3"><span class="visually-hidden">Toggle
                navigation</span><span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navcol-3">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link"  routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }" routerLink="/">Home</a></li>
                <li class="nav-item"><a   class="nav-link" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }" routerLink="/about">About Us</a></li>
                <li class="nav-item"><a  class="nav-link" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }" routerLink="/departments">Departments</a></li>
                <li class="nav-item"><a  class="nav-link" href="https://botlinks.net/rfmmenu">Deli Menu</a>
                </li>
                <!-- <li class="nav-item"><a  class="nav-link" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }" routerLink="/blog">Blog &amp; News</a></li> -->
                <li class="nav-item"><a href="https://mvcard.biz/RecipeExpert" target="_blank" class="nav-link" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }" >Cooking Recipes</a></li>
                <li class="nav-item"><a  class="nav-link" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }" routerLink="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>