.bluebox i, span {
  display: block;
}

.btmenus {
  color: #FFFFFF !important;
  border-radius: 21px;
  font-size: 14px;
  background-image: linear-gradient(180deg, #2b87da 0%, #29c4a9 100%);
  background-color: #18943d;
  transition: all 300ms ease 0ms;
  font-weight: 500;
  padding: 4.2px 14px 4.2px 14px;
  line-height: 1.7em !important;
  background-color: transparent;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  border: 2px solid #86bc2f;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-property: all !important;
  transition-property: all !important;
  text-decoration: none;
  margin-right: 45px;
}
/* 
.btmenus:after {
  font-size: 0px;
  line-height: 1em;
  content: "\003E";
  opacity: 0;
  position: absolute;
  margin-left: 6px;
  -webkit-transition: all .2s;
  transition: all .2s;
  text-transform: none;
  -webkit-font-feature-settings: "kern" off;
  font-feature-settings: "kern" off;
  font-variant: none;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  margin-top: 10px;
}

.btmenus:hover:after {
  opacity: 1;
  font-size: 18px;
  margin-top: 3px;
} */

.btmenus:hover {
  padding: 4.2px 25px 4.2px 18px;
}

.delir {
  position: absolute;
  margin-top: -64px;
  color: #666;
  padding-left: 116px;
}

@media (min-width: 1399px) {
  .margenbt {
    margin-left: 300px !important;
  }
}

@media (min-width: 1999px) {
  .margenbt {
    margin-left: 100px !important;
  }
}

@media (max-width: 980px) {
  .margenbt {
    margin-right: 0px !important;
  }
}

.margenbt {
  margin-left: 0px;
}

a {
  text-decoration: none;
}

