<div class="bannerblog">
    <div class="container">
        <h1 class="bannerh1"
            style="color: var(--bs-body-bg);font-family: Roboto, sans-serif;font-style: italic;font-weight: bold;font-size: 80px;padding-top: 25%;text-align: center;">
            Blog &amp; News</h1>
    </div>
    <div class="onda"></div>
</div>
<div class="row articulesbody">
    <div class="col" style="margin: 19px;">
        <div class="container">
            <div class="row">
                <div class="col col-12 col-md-4 col-xl-4 centrar">
                    <div class="articleitem">
                        <div class="conteartimg"><a href="blog/platains"><img
                                    src="assets/img/DSC09534-3-400x250.jpg"></a></div>
                        <a href="blog/platains">PLANTAINS! A STAPLE FOOD IN LATIN AMERICA’S COUSINE</a><span>by
                            admin | Jul 14,
                            2022</span>
                        <p><span style="color: rgb(102, 102, 102);">Plantains (plátanos in Spanish) are technically
                                a type of fruit that look like their relative, the banana, but are bigger, harder to
                                peel (especially when green) and cannot be eaten raw. They must be cooked and are
                                considered a staple food of Central and South...</span></p>
                    </div>
                </div>

                <div class="col col-12 col-md-4 col-xl-4 centrar">
                    <div class="articleitem">
                        <div class="conteartimg"><a href="blog/pico-gallo"><img src="assets/img/pico.jpeg"></a>
                        </div>
                        <a href="blog/pico-gallo">PICO DE GALLO! INTERESTNG FACTS</a><span>by admin | Jul 14,
                            2022</span>
                        <p><span style="color: rgb(102, 102, 102);">Translated into Spanish, Pico de Gallo literally
                                means “beak of a rooster.” Some believe this is because it was originally eaten by
                                pinching between the thumb and forefinger, making the shape of a rooster's beak.
                                Pico de Gallo, however, has nothing to do with...</span></p>
                    </div>
                </div>

                <div class="col col-12 col-md-4 col-xl-4 centrar">
                    <div class="articleitem">
                        <div class="conteartimg"><a href="blog/pinacolada"><img
                                    src="assets/img/pina-colada.jpeg"></a></div>
                        <a href="blog/pinacolada">LET’S PREPARE A VIRGIN PINA COLADA</a><span>by admin | Jul
                            14,
                            2022</span>
                        <p><span style="color: rgb(102, 102, 102);">The piña colada is a popular cocktail originated
                                in Puerto Rico and made with pineapple juice, rum, and coconut, and served blended
                                or with crushed ice. The name means “strained pineapple” in Spanish. The original
                                drink was created in San Juan in 1954 by a bartender...</span></p>
                    </div>
                </div>


                <div class="col col-12 col-md-4 col-xl-4 centrar">
                    <div class="articleitem">
                        <div class="conteartimg"><a href="blog/avocado"><img src="assets/img/avocado.jpeg"></a>
                        </div>
                        <a href="blog/avocado">AVOCADO AND ITS HEALTH BENEFITS</a><span>by admin | Jul 14,
                            2022</span>
                        <p><span style="color: rgb(102, 102, 102);"> Avocados have become an increasingly popular
                                food in recent years. It’s the main ingredient in guacamole and can be prepared in
                                many other dishes or simply eaten plain. Although not sweet, avocados are classified
                                as a fruit. They are believed to have originated in...</span></p>
                    </div>
                </div>

                <div class="col col-12 col-md-4 col-xl-4 centrar">
                    <div class="articleitem">
                        <div class="conteartimg"><a href="blog/arepa"><img src="assets/img/arepa.jpeg"></a>
                        </div>
                        <a href="blog/arepa">LET’S KNOW A BIT MORE ABOUT AREPAS</a><span>by admin | Jul 14,
                            2022</span>
                        <p><span style="color: rgb(102, 102, 102);"> Arepas, a traditional dish from Colombia and
                                Venezuela, are round savory corn cakes made with a precooked corn flour known as
                                Masarepa. They are very easy to make and can be served for breakfast, as an
                                afternoon snack or a light dinner. Most households used to mill...</span></p>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col centrar" style="padding-top: 40px;padding-bottom: 0;">
        <h1 style="padding-top: 0;font-family: Roboto, sans-serif;font-style: italic;font-weight: bold;">Restaurant
            Online Ordering</h1>
    </div>
</div>
<div class="row">
    <div class="col centrar" style="padding-top: 8px;padding-bottom: 18px;">
        <span style=" background-image: linear-gradient(90deg, #87bd2e 0%, #11933e 100%);" class="glf-button" data-glf-cuid="d5f050d1-7bf2-4db7-a3c7-c53cad1cbad7" data-glf-ruid="86519b3f-542d-4794-928e-c83672616e67" >REGULAR
            MENU ORDER
        </span> 

         <span style=" background-image: linear-gradient(90deg, #87bd2e 0%, #11933e 100%);" class="glf-button" data-glf-cuid="805dbe0d-df9b-4c63-a06b-8f806bd4f65b" data-glf-ruid="30cf5f79-c400-4ef0-b267-4f64d7ed6ea7" >REGULAR
            CATERING ORDER
        </span> 
            
            </div>
</div>
<div class="wemake">
    <div class="row bluesecc">
        <div class="col centrar">
            <div class="container">
                <div class="col col-12 centrar">
                    <h1 class="wemak" style="color: var(--bs-body-bg);padding-top: 59px;">We make it easy to connect
                        on all platforms</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row movil">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col col-md-1"></div>
                    <div class="col col-12 col-md-7"><img src="assets/img/Blog3d.png" width="100%"></div>
                    <div class="col col-12 col-md-3 codeqr" style="margin-top: 58px;">
                        <h4 style="color: var(--bs-body-bg);">Download our Digital Business Card</h4><img
                            src="assets/img/qr.png" width="80%" style="margin-top: 36px;"><img
                            src="assets/img/Recurso-7-1.png" width="80%" style="margin-top: 39px;">
                    </div>
                    <div class="col">
                        <div class="dividerqr"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row contactus">
    <div class="col">
        <div class="container">
            <div class="row">
                <div class="col col-md-3"></div>
                <div class="col col-md-6">
                    <div class="bluebox">
                        <h1 style="color: var(--bs-body-bg);font-size: 50px;font-weight: bold;">Contact Us</h1>
                        <h5 style="color: var(--bs-body-bg);font-size: 30px;font-weight: bold;margin-top: 25px;">
                            Riverview Fresh Market</h5><span
                            style="margin-bottom: 27px;font-size: 26px;margin-top: -11px;">Latin food in
                            Riverview</span><a href="tel:(813) 374-2353">
                                
                                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 24 24" width="1em" fill="currentColor" style="margin-bottom: 12px;font-size: 28px;color: var(--bs-body-bg);">
                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M20 15.5c-1.25 0-2.45-.2-3.57-.57-.35-.11-.74-.03-1.02.24l-2.2 2.2c-2.83-1.44-5.15-3.75-6.59-6.58l2.2-2.21c.28-.27.36-.66.25-1.01C8.7 6.45 8.5 5.25 8.5 4c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1 0 9.39 7.61 17 17 17 .55 0 1-.45 1-1v-3.5c0-.55-.45-1-1-1zM12 3v10l3-3h6V3h-9z"></path>
                                </svg>
                                
                                
                                <span
                                style="margin-bottom: 10px;">(813) 374-2353</span></a><a
                            href="mailto:riverviewfreshmarket@hotmail.com"><svg xmlns="http://www.w3.org/2000/svg"
                                height="1em" viewBox="0 0 24 24" width="1em" fill="currentColor"
                                style="margin-bottom: 10px;color: var(--bs-body-bg);font-size: 28px;">
                                <path d="M0 0h24v24H0z" fill="none"></path>
                                <path
                                    d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z">
                                </path>
                            </svg><span style="margin-bottom: 19px;">riverviewfreshmarket@hotmail.com</span></a>
                            
                            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="1em" viewBox="0 0 24 24" width="1em" fill="currentColor" style="margin-bottom: 13px;font-size: 28px;color: var(--bs-body-bg);">
                                <rect fill="none" height="24" width="24"></rect>
                                <path d="M12,2L12,2C8.13,2,5,5.13,5,9c0,1.74,0.5,3.37,1.41,4.84c0.95,1.54,2.2,2.86,3.16,4.4c0.47,0.75,0.81,1.45,1.17,2.26 C11,21.05,11.21,22,12,22h0c0.79,0,1-0.95,1.25-1.5c0.37-0.81,0.7-1.51,1.17-2.26c0.96-1.53,2.21-2.85,3.16-4.4 C18.5,12.37,19,10.74,19,9C19,5.13,15.87,2,12,2z M12,11.75c-1.38,0-2.5-1.12-2.5-2.5s1.12-2.5,2.5-2.5s2.5,1.12,2.5,2.5 S13.38,11.75,12,11.75z"></path>
                            </svg>
                            
                            <span>9613 Hwy
                            301 South, Riverview, FL 33578</span>
                        <div class="rest">
                            <p><strong></strong></p>
                            <p><strong>OPENING HOURS</strong></p>
                            <p>Sunday -Wednesday</p>
                            <p>7am – 8pm</p>
                            <p>Thursday – Saturday</p>
                            <p>7am – 9pm</p>

                            <ul class="redes">


                                <li class="">
                                    <a href="https://www.instagram.com/riverviewfreshmarket/" target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                            viewBox="0 0 24 24" fill="none">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M12 7C9.23858 7 7 9.23858 7 12C7 14.7614 9.23858 17 12 17C14.7614 17 17 14.7614 17 12C17 9.23858 14.7614 7 12 7ZM9 12C9 13.6569 10.3431 15 12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12Z"
                                                fill="currentColor"></path>
                                            <path
                                                d="M18 5C17.4477 5 17 5.44772 17 6C17 6.55228 17.4477 7 18 7C18.5523 7 19 6.55228 19 6C19 5.44772 18.5523 5 18 5Z"
                                                fill="currentColor"></path>
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M5 1C2.79086 1 1 2.79086 1 5V19C1 21.2091 2.79086 23 5 23H19C21.2091 23 23 21.2091 23 19V5C23 2.79086 21.2091 1 19 1H5ZM19 3H5C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H19C20.1046 21 21 20.1046 21 19V5C21 3.89543 20.1046 3 19 3Z"
                                                fill="currentColor"></path>
                                        </svg>
                                    </a>

                                </li>
                                <li class="">
                                    <a href="https://www.facebook.com/riverviewfreshmarket" class="" target="_blank">

                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                            viewBox="0 0 24 24" fill="none">
                                            <path
                                                d="M9.19795 21.5H13.198V13.4901H16.8021L17.198 9.50977H13.198V7.5C13.198 6.94772 13.6457 6.5 14.198 6.5H17.198V2.5H14.198C11.4365 2.5 9.19795 4.73858 9.19795 7.5V9.50977H7.19795L6.80206 13.4901H9.19795V21.5Z"
                                                fill="currentColor"></path>
                                        </svg>

                                    </a>
                                </li>
                                <li class="">
                                    <a href="https://www.youtube.com/channel/UC7flXGGDtQyYC2gxWdMEFRg" class=""
                                        target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                            viewBox="0 0 24 24" fill="none">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M5 7H19C19.5523 7 20 7.44771 20 8V16C20 16.5523 19.5523 17 19 17H5C4.44772 17 4 16.5523 4 16V8C4 7.44772 4.44772 7 5 7ZM2 8C2 6.34315 3.34315 5 5 5H19C20.6569 5 22 6.34315 22 8V16C22 17.6569 20.6569 19 19 19H5C3.34315 19 2 17.6569 2 16V8ZM10 9L14 12L10 15V9Z"
                                                fill="currentColor"></path>
                                        </svg>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col col-md-3"></div>
            </div>
        </div>
    </div>
    <div class="dividerfoot"></div>
</div>